html,
body {
	margin: 0;
	padding: 0;
	background-size: 25px 25px;
	/* background-color: grey;
	background-image: linear-gradient(to right, whitesmoke 1px, transparent 1px),
		linear-gradient(to bottom, whitesmoke 1px, transparent 1px); */
}
